@import '@/styles/__settings.scss';

.button {
  width: 279px;
  height: 45px;
  background-color: $primary;
  border-radius: 22.5px;
  border: none;
  color: $white;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.86667px;
  text-transform: uppercase;
  font-family: inherit;

  @include desktop() {
    &:hover {
      cursor: pointer;
      background-color: $white;
      color: $primary;
    }
  }
}
