$primary: hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$lightGrey: hsl(217, 12%, 63%);
$mediumGrey: hsl(216, 12%, 54%);
$darkBlue: hsl(213, 19%, 18%);
$veryDarkBlue: hsl(216, 12%, 8%);
$blackGradient: radial-gradient(
  98.96% 98.96% at 50% 0%,
  #232a34 0%,
  #181e27 100%
);
